# Salin/ganti bagian DB di file .env proyek Laravel Anda dengan ini:
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=technology_marketplace
DB_USERNAME=postgres
DB_PASSWORD=isi_password_postgres_anda
